*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica;
    text-decoration: none;
  }

body{
    margin:0;
    padding:0;
    background-color: rgb(221, 221, 221) !important
  
  }

img{ 
    border-radius: 5px;
    width:100%;
  }
  
b{
  font-weight: 600;
  color:rgb(66, 121, 116);
 }
 
p{
   text-align: justify;
 }

  

/* -------------------------NAVIGATION----------------------- */
.header{
  background-color:rgb(129, 187, 166);
  height: 150px;
  margin-left: 20%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 60%;
  }

.inner_header{
  position: relative;
  width: 75%;
  height: 100%;
  margin: 0 auto;  
  }
  
/* .logo_container{
    height: 90%;
    display: table;
    float: left;
  
  } */
 /* .logo_container img{
    display:inline-block;
    margin: 15px;
    vertical-align: middle;
    width: 105px;
    height: 100px;
} */
  
/* .logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Segoe UI;
    font-size: 30px;
    font-weight: 300px;
  } */
  
/* .logo_container h1:hover {
  color: rgb(163, 202, 163);
  }
   */
.navigation{
  position: relative;
  overflow: visible;
  background: #9acebb;
  display: flex;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 24px;
  float: right;
  margin-top: 30px;
      -webkit-box-shadow: 0 05px 4px -4px #777;
      -moz-box-shadow: 0 05px 4px -4px #777;
      box-shadow: 0 05px 4px -4px #777;
  }

.navigation a {
  position: relative;
  float: right;
  display: block;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-family: Segoe UI;
  color:white;
  font-size: 18px;
  }

.navigation a:hover{
  color:#646464;
  }

.navigation a.active {
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
  }
/* ---------------------------------------------------------- */
/* ------------------------HOME STYLING------------------------- */
#picsshoes {
	position: absolute;
	width: 426px;
	height: 320px;
	left: 150px;
	top: 200px;
  z-index: -1;
 }

.Path_green{
	position: absolute;
	width: 1366px;
	height: 786.849px;
	top: -25px;
  z-index: -10;
  opacity: 0.9;
	fill: rgb(157, 201, 185);
 }


#title h1{
  position: absolute;
  top: 300px;
  left:45%;
  text-align: left;
  font-style: italic;
  font-size: 50px;
  color: rgb(255, 255, 255);
  }  


/* ------------------------------------------------------------------ */

/* --------------------------------HOME--------------------------------- */
.contenttitle{
  font-size: 18px;
  color:rgb(111, 161, 143);
  margin: 10px;
  text-align: center;
  grid-area: title;
  place-self: center stretch;
}

.content-text{
  grid-area: text;
  padding:30px;
  text-align: justify;
  font-size: 18px;
  font-weight:300;
  letter-spacing: 0.4px;
}

.btn {
  display: inline-block;
  background-color: rgb(66, 121, 116);
  color:white;
  padding: 1em 2em;
  border-radius: 8px;
  margin:0.5em 0;
  font-size:16px;
}

.btn:hover {
  background-color: white;
  color: #646464;
  font-weight: bold;
}

.content .imgcontent{
  grid-area: img ;
  padding:20px;
  place-self: center stretch;
}

.imgcontent img{
  width:100%;
}

.content{
  display:grid;
    grid-template-columns: 40% 0% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
      "title title title "
      "text . img "
      "partners partners partners";
  row-gap: 10px;
  padding:15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 40px;
  margin:5%;
  margin-top: 400px;
  font-size:1.1em;
  position: relative;
  /* background-color: #e7e7e7; */
  background-color: #e9e9e9;
}

.content a{
  text-decoration: none;
}
.partners{
  text-align:center;
  padding:30px 20px;
  font-size:1em;
  grid-row: 3;
  /* grid-column: 1 / 4; */
  grid-area: partners;
}

.partners p{
  margin-top:10px;
  font-weight:500;
  color:#646464;

}

.partners h2{
  border: 4px solid rgb(107, 192, 178);
  width: max-content; 
  float: left;
  border-radius: 40px;
  padding:10px;
  color:#646464;
  margin: 0px 40px 0px 0px;
} 

h6{
  color: #646464;
  text-align: right;
  float:right;
}
/* ---------------------------------------------------------------------------------- */
/* ------------------------------About and Activities GRID-------------------------- */
.grid{
  display: grid;

  padding: 10px;
  grid-template-columns: 40% 58%;
    grid-template-rows: 45% 22% 8% 20%;
    grid-template-areas: 
      "grid1  img "
      "grid2  grid3 "
      "grid4  grid4"
      "grid5 grid6";
  row-gap: 15px;
  column-gap: 20px;
 }

.grid p{
  font-size:1em;
  line-height: 1.5em;
  letter-spacing: 0.1px;
  font-weight: 300;
}

.grid1{
  grid-area: grid1;
  place-self: center stretch;
}

.grid2{
  place-self: center stretch;
  grid-area: grid2;
}

.grid3{
  grid-area: grid3;
  place-self: center stretch;
}

.grid4{
  padding: 20px;
  place-self: center stretch;
  grid-area: grid4;
  text-align: center;
  font-size: 19px !important;
  letter-spacing: 1px;
}

.grid5{
  grid-area: grid5;
}

.grid6{
  grid-area: grid6;
}

.main-content .imgcontent{
    grid-area: img ;
    place-self: center stretch;
    padding: 5% 0%;
    margin:5% 0% 2% 0%;

 }

/* ---------------------------------------------------------------------- */
/*-----------------------------ABOUT/ACTIVITIES main -------------------------------*/

.main-content{
  padding:15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 40px;
  margin:5%;
  position: relative;
  background-color: #e9e9e9;
 }

 .main-content a, .content-text p a{
  color: rgb(66, 121, 116);
  font-weight:600;
}

.main-content a:hover, .content-text p a:hover{
  color: #fff;
}

.wrs {
  margin-top: 30px;
}

.p-color{
    font-size:19px;
    font-weight: 400;
    color:  #646464;
  }


/* -------------------------------------------------------------- */
/* ----------------------COMPANY----------------------------- */


.main-content > h2{
  border: 4px solid rgb(107, 192, 178);
  width: max-content; 
  border-radius: 40px;
  padding:10px;
  margin: 60px 70px 40px 50px;
  float: left;
  color:#646464;
}
.main-content > h3{
  margin:60px ;
  color:#646464;
  font-weight: 500;

}

#icsdcompany{
  float: right;
  width:280px;
  margin: 50px;
  height:130px;
}

.tcolor{
  font-size:19px;
  font-weight: 500;
  color:  rgb(111, 161, 143);
}

h3{
  letter-spacing: 0.3px;
  font-size:18px;
}
.companytext h4{
  font-size: 23px;
  color: #646464;
  letter-spacing: 0.5px;
}
.companyimg{
  margin:30px;
  width: 45%;
  height:45%;

}
.companytext{
  float:left;
  width: 70%;
  padding-top: 20px;
  letter-spacing: 0.2px;
  line-height: 1.5em;
}
.companytext p{
  font-weight: 300;
  letter-spacing: 0.3px;
}

.companytext li{
  color: rgb(111, 161, 143);
  font-weight: 700;
  text-align:justify;
}
.companytext h3{
  color: rgb(111, 161, 143);
  font-weight:600;
}

/* ---------------------------------------------------------- */

/* -----------------------CONTACT --------------------------- */

.contacttext{
  color:#646464;
  margin-left: 350px;
  position: relative;
}
.contacttext p{
  font-size:18px;
}
.contacttext a{
  color:#646464;;

}
.contacttext a:hover{
  color: #fff;
}

.contacttext h2, h3{
  font-weight: 500;
  margin-top:30px;
  color:#646464;
}


/*------------------------------------------------------------  */
/*------------------------- FOOTER -------------------------------*/
footer{
  position: relative;
  border-radius: 40px 40px 0 0;
  background-color:rgb(129, 187, 166);
  height: 250px;
  margin-left: 5%;
  width: 90%;
    }    

.footercontent img{
  margin: 60px 0px 60px 50px;
}

.contactinfo{
  float: right;
  margin: 40px;
   color:#646464;
   font-weight: 500;
}
.contactinfo h2{
  font-size: 20px;
  color: #fff;
}

ul .icon{
  font-size: 20px;
  color: #fff;
  padding:5px;
}

.credits {
  text-align: center;
  font-size: 14px;
}

.contactinfo h2{
text-align: center;
font-size: 30px;
}

.contactinfo a{
  color: #646464;
}
.contactinfo a:hover{
  color: #fff;
}


#erasmus {
	width: 277px;
	height: 56px;
}
#indvm {
	width: 149px;
	height: 99px;
}

#ICSD {
	width: 235px;
	height: 100px;
}

/* ------------------------------------------------------------- */
.credits{
  color: #444;
}





/* --------------------------------MEDIA--------------------------- */

@media only screen and (max-width : 800px) {

html,body{
    overflow-x: hidden;
  }

#picsshoes {
    position: absolute;
    width: 350px;
    height: 270px;
    left: 10px;
    top: 80px;
    z-index: -1;
   }

  #title h1{
    position: absolute;
    top: 340px;
    left:30px;
    text-align: left;
    font-style: italic;
    font-size: 38px;
    }  

.header{
  height: 80px;
  width: 100%;
  margin: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
    
.inner_header{
  width: 100%;
  margin: 0;  
  }
  
.navigation{
  width: 100%;
  margin-top:10px;
  }

.navigation a {
  padding: 20px 15px;
  width: 100%;
  font-size: 10px;
  }

footer {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 100%;
  margin:0px;
  }
  
.content{
    margin: 380px 0 40px 0 ;
    padding:0;
    border-radius: 10px;
    display:table;
  }
  
.main-content{
  padding: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  margin: 30px 0px 40px 0px;
  text-align: center;
  }

.main-content>h3{
  margin:5px 20px;
  padding: 0px 20px;
}

.contacttext{
  margin: 10px 0px 40px 0px;
  padding: 20px 0px;
}
.contacttext p{
  padding: 0px 20px;
}
.contacttext h3{
  margin: 0% 5%;
}

.grid{
  display:table;
}

.companytext {
  padding: 5% 10%;
  margin:0 5%;
}

.companytext h4{
  padding: 0px;
}

.footercontent img{
  margin: 5% 10%;
}

.main-content h2{
  margin:10% 25% 0;
  }

.companyimg{
  width: 100%;
  margin: 0 0 20px 0;
}

.partners h2{
  margin: 20px 60px ;
}

#icsdcompany{
margin: 10% 14%;

}

iframe{
  width: 350px;
}

}
@media only screen and (min-width: 1700px){
  .Path_green{
    width: 1700px;
    height: 786.849px;
    top: -135px;
   
  }

  #title h1{
    top: 300px;
    left:750px;
    font-size: 65px;
    }  
    #picsshoes {
      position: absolute;
      width: 526px;
      height: 420px;
      left: 142px;
      top: 150px;
      z-index: -1;
     }
    }
  
@media only screen and (min-width: 1900px){
  .Path_green{
    width: 2000px;
    top: -150px;

  }
}


@media only screen and (min-width: 2500px){
  .Path_green{
    width: 2600px;
    top: -150px;
  }
}